.trade60-enter-active,
.trade60-leave-active {
  transition: transform 0.2s ease;
}

.trade60-enter-from,
.trade60-leave-to {
  transform: translateY(-60px);
}

.tradeOpacity-enter-active,
.tradeOpacity-leave-active {
  transition: opacity 0.2s ease;
}

.tradeOpacity-enter-from,
.tradeOpacity-leave-to {
  opacity: 0;
}
