.update-app-dialog {
  background-color: #fff !important;

  .van-dialog__header {
    color: #323233;
  }

  .van-dialog__footer .van-button {
    background-color: #fff !important;
    color: var(--van-dialog-default-button-text-color);

    &.van-dialog__confirm {
      color: var(--van-dialog-confirm-button-text-color);
    }
  }
}
