.inner-bar-child-move {
  height: 12px;
  max-width: 8px;
  width: 80%;
  animation: inner-bar-child-move 3s linear infinite;
  background: linear-gradient(to right, #0000 0%, #ffeb3bab 50%, #0000 100%);
}

@keyframes inner-bar-child-move {
  to {
    margin-left: 96%;
  }
}
